.toplevel_page_owners_portal_calendar { 

    #wpcontent {
        padding-left: 0px;
        background-color: #FFF;
        min-height: 100vh;
    }

    #wpbody-content {
        padding-bottom: 0px;
    }

    #wpfooter {
        display: none;
    }

}

#owners-portal-page-calendar {
    position: relative;
    float: left;
    width: 100%;
    min-height:calc(100vh - 32px);
    background-color:#fff;
    box-sizing: border-box;
    font-family: "Signika-Light";

    p {
        font-size: 16px;
    }
    
    * {
        position: relative;
        box-sizing: border-box;
    }

    .tablefy {
        height: auto!important;
        max-height: none!important;

        table.tablefy-table {
            height: auto!important;
            max-height: none!important;

            thead {
                font-family: "Signika-Bold";
            }
        }

        .status-span {
            padding: 3px 10px;
            border-radius: 20px;
            background-color: #EF4444;
            color: #FFF;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;

            &.status-span-ongoing {
                background-color: #10B981;
            }
            
            &.status-span-upcoming {
                background-color: #3B82F6;
            }
        }
    }

    .owners-portal-page-alert {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #EF4444;
        background-color: rgba(#EF4444, 0.15);
        color: #EF4444;
        padding: 12px;

        .owners-portal-page-alert-text {
            position: relative;
            float: left;
            width: 100%;
            margin: 0px;
        }

        .owners-portal-page-alert-btn {
            position: relative;
            float: left;
            width: auto;
            background-color: #EF4444;
            color: #FFF!important;
            text-decoration: none!important;
            margin-top: 8px;
            border-radius: 5px;
            padding: 6px 18px;
            transition: background-color 200ms;

            &:hover,
            &:active,
            &:focus {
                background-color: darken(#EF4444, 10%);
            }
        }

    }

    .owners-portal-page-calendar-wrapper {
        display: block;
        width: 100%;
        border:1px solid #c3c4c7;

        .owners-portal-page-filter {
            display: block;
            background-color: #f1f1f1;
            border-bottom: 1px solid #c3c4c7;
        }
    }

    /*.owners-portal-page-content {
        position: relative;
        float: left;
        width: 100%;
        overflow: hidden;
        background-color:#FFF;

        .owners-portal-page-title-bar {
            position: relative;
            float: left;
            width: 100%;
            padding: 24px 24px;
            border-bottom:1px solid rgba(0,0,0,0.12);
            text-align: left;

            .owners-portal-page-title-bar-text {
                position: relative;
                float: left;
                width: 100%;

                .owners-portal-page-title-bar-title {
                    position: relative;
                    float: left;
                    width: 100%;
                    margin-top: 0px;
                    margin-bottom: 18px;
                }

                .owners-portal-page-title-bar-desc {
                    position: relative;
                    float: left;
                    width: 100%;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }

            .owners-portal-page-alert {
                position: relative;
                float: left;
                width: 100%;
                margin-top: 12px;
                border-radius: 5px;
                border: 1px solid #EF4444;
                background-color: rgba(#EF4444, 0.2);
                color: #EF4444;
                padding: 12px;

                .owners-portal-page-alert-text {
                    position: relative;
                    float: left;
                    width: 100%;
                    margin: 0px;
                }

                .owners-portal-page-alert-btn {
                    position: relative;
                    float: left;
                    width: auto;
                    background-color: #EF4444;
                    color: #FFF!important;
                    text-decoration: none!important;
                    margin-top: 8px;
                    border-radius: 5px;
                    padding: 6px 18px;
                    transition: background-color 200ms;

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: darken(#EF4444, 5%);
                    }
                }

            }
            
        }

        .owners-portal-page-filter {
            position: relative;
            float: left;
            width: 100%;
            padding: 24px;
            border-bottom:1px solid rgba(0,0,0,0.12);

            h4 {
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .datepickers {
                position: relative;
                float: left;
                width: 100%;

                input {
                    position: relative;
                }
            }

        }
    }*/
}