.toplevel_page_owners_portal_newsletter { 

    #wpcontent {
        padding-left: 0px;
        background-color: #FFF;
        min-height: 100vh;
    }

    #wpbody-content {
        padding-bottom: 0px;
    }

    #wpfooter {
        display: none;
    }

}


#owners-portal-page-newsletter {
    position: relative;
    float: left;
    width: 100%;
    min-height:calc(100vh - 32px);
    background-color:#fff;
    box-sizing: border-box;
    font-family: "Signika-Light";

    
    p {
        font-size: 16px;
    }
    
    
    * {
        position: relative;
        box-sizing: border-box;
    }

    .owners-portal-news-item {
        position: relative;
        display: block;
        background-color: rgb(251, 236, 195);
        border: 2px solid rgb(138, 78, 140);
        border-radius: 5px;

        /*margin: 30px auto 0px auto;
        border-radius: 5px;
        color: rgb(66, 34, 85);
        padding: 15px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        max-width: 720px;*/

        h2 {
            position: relative;
            display: block;
            width: 100%;
            font-family: "Signika-Bold";
            color: #8a4e8c;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.2;
        }

        p {
            position: relative;
            display: block;
            width: 100%;
            font-weight: 300;
            color: #422255;
            font-size: 16px;
        }

        img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            border: #fff 8px solid;
            border-radius: 5px;
            box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
        }

        .button {
            border: #fff 2px solid;
            border-radius: 5px;
            box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
            font-size: 15px;
            font-family: "Signika-Bold";
            padding: 6px 24px;
        }

    }
}

