#profile-page {

    #your-profile {
        h2,
        .user-admin-color-wrap,
        .show-admin-bar,
        .user-display-name-wrap,
        .user-description-wrap,
        .user-profile-picture,
        .user-url-wrap,
        .user-facebook-wrap,
        .user-instagram-wrap,
        .user-linkedin-wrap,
        .user-myspace-wrap,
        .user-pinterest-wrap,
        .user-soundcloud-wrap,
        .user-tumblr-wrap,
        .user-twitter-wrap,
        .user-youtube-wrap,
        .user-wikipedia-wrap,
        .yoast.yoast-settings
        .application-passwords,
        .pw-weak {
            display: none!important;
        }

    }

    .yoast.yoast-settings {
        display: none!important;
    }

}