.tablefy {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    //max-height: 470px;
    border: none;
    overflow:hidden;
    margin: 0 auto;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    table.tablefy-table {
        position:relative;
        display:inline-block;
        width: 100%;
        background:#FFF;
        border-collapse: collapse; 
        border-spacing:0;
        text-align: left;
        overflow-y: scroll;
        overflow-y: overlay;
        overflow-x: hidden;
        max-height: 470px;

        thead.tablefy-thead {
            position: relative;
            width: 100%;
            display: table-header-group;
            font-size:0;

            tr.tablefy-tr {
                display: table-row;

                th.tablefy-th {
                    position: sticky; 
                    top: 0;
                    font-size:16px;
                    font-weight:500; 
                    padding: 24px 24px;
                    background-color:#FFF;
                    cursor:default;

                    
                    &::after {
                        content:"";
                        position: absolute;
                        bottom:0px;
                        left:0;
                        width:100%;
                        height:1px;
                        background-color:#c3c4c7;
                    }
                }
            }
            
        }

        tbody.tablefy-tbody {
            display: table-row-group;
            font-size:0;

            tr.tablefy-tr {
                display: table-row;
                background-color:rgba(0,0,0,0);
                transition:background-color 100ms;

                &:last-child {
                    border-bottom: none;
                }

                &:nth-child(even) {
                    background-color:rgba(0,0,0,0.05);
                }

                &:hover {
                    background-color: rgba(#8a4e8c, 0.25);
                }

                td.tablefy-td {
                    font-size:16px;
                    font-weight:400; 
                    color: rgba(0,0,0,0.87);
                    padding: 14px 24px;
                    background-color:rgba(0, 0, 0, 0.0);
                    transition:color 100ms;

                    &:last-child {
                        width:1%;
                        white-space:nowrap;
                    }

                    &.tablefy-td-action {
                        cursor:pointer;

                        &:hover {
                            color:rgba(76, 132, 255, 1);
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
}

// overrides



.tablefy .tablefy-td-action {

    .tablefy-icon {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        background-color:rgba(0,0,0,0.87);
        transition: background-color 100ms;
        pointer-events: none;
        
        &.update {
            mask: url(../../images/edit.svg) no-repeat center;
            mask-size: 15px;
        }

        &.delete {
            mask: url(../../images/delete.svg) no-repeat center;
            mask-size: 15px;
        }

        &.search {
            mask: url(../../images/search.svg) no-repeat center;
            mask-size: 15px;
        }
    }

    &:hover {
        .tablefy-icon {
            background-color:rgba(76, 132, 255, 1);
        }
    }
}
