@import 'bootstrap-utilities';
@import 'admin-theme';
@import 'cleanup';
@import 'tablefy';


@import 'profile-page';
@import 'calendar-page';
@import 'newsletter-page';

@font-face {
    font-family: 'Signika-Light';
    src: url('../../fonts/Signika-Light.eot');
    src: url('../../fonts/Signika-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Signika-Light.woff') format('woff'),
         url('../../fonts/Signika-Light.ttf') format('truetype'),
         url('../../fonts/Signika-Light.svg#Signika-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Signika-Bold';
    src: url('../../fonts/Signika-Bold.eot');
    src: url('../../fonts/Signika-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Signika-Bold.woff') format('woff'),
         url('../../fonts/Signika-Bold.ttf') format('truetype'),
         url('../../fonts/Signika-Bold.svg#Signika-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}