@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css");
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.custom-selectbox {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.custom-selectbox:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  content: "\f107";
  position: absolute;
  top: 25%;
  right: 10px;
  font-size: 20px;
  color: #274358;
  pointer-events: none; }

label {
  display: block;
  margin: 5px !important; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 8px 12px;
  width: 100%;
  margin: 0 auto 10px;
  border: #7e7e7e 2px solid;
  border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  display: block; }

textarea {
  padding: 8px 12px;
  width: 100%;
  margin: 0 auto 10px;
  border: #7e7e7e 2px solid;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  display: block; }

select {
  color: #274358;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 12px;
  width: 100%;
  margin: 10px auto;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

#header {
  padding: 20px 0;
  position: relative;
  display: none; }
  @media only screen and (min-width: 992px) {
    #header {
      display: block; } }
  #header .logo {
    position: absolute;
    z-index: 999; }
    #header .logo a {
      padding: 0; }
      #header .logo a img {
        top: 0;
        left: 0;
        border: #fff 5px solid;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3); }
  #header a {
    font-size: 16px;
    color: #8a4e8c;
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 10px 20px;
    display: inline-block; }
    #header a:hover, #header a:active, #header a:focus {
      color: #422255; }
    @media only screen and (min-width: 1200px) {
      #header a {
        font-size: 18px;
        padding: 20px; } }
  #header .call {
    font-size: 20px;
    line-height: 20px;
    color: #8a4e8c;
    text-align: right;
    margin-top: 30px; }
    @media only screen and (min-width: 1200px) {
      #header .call {
        font-size: 24px;
        line-height: 24px;
        margin: 0; } }
    #header .call span {
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
      color: #422255;
      display: block; }
      @media only screen and (min-width: 1200px) {
        #header .call span {
          font-size: 38px;
          line-height: 38px; } }
  #header .book {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #422255;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border: #8a4e8c 4px solid;
    padding: 8px 6px !important;
    margin: 25px auto 0 !important;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block; }
    #header .book:hover {
      background-color: #422255;
      color: #fff;
      text-decoration: none; }
    @media only screen and (min-width: 1200px) {
      #header .book {
        font-size: 20px;
        line-height: 21px;
        margin: 0 auto !important; } }

#wrapper {
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  width: 100%;
  /*overflow: hidden;*/ }
  @media only screen and (min-width: 992px) {
    #wrapper {
      padding-top: 0; } }

body {
  font-family: "Signika";
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #422255; }
  @media only screen and (min-width: 480px) {
    body {
      font-size: 16px;
      line-height: 22px; } }

h1, h2, h3, h4 {
  font-family: "Signika";
  color: #5f346b;
  font-weight: 700;
  margin: 0 0 20px 0 !important; }

h1 {
  font-size: 36px;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 36px;
      line-height: 1; } }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 48px;
      line-height: 1; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 48px;
      line-height: 1; } }

h2 {
  font-size: 24px;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 24px;
      line-height: 1; } }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 35px;
      line-height: 1; } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 35px;
      line-height: 1; } }

h3 {
  font-size: 16px;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 16px;
      line-height: 1; } }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 23px;
      line-height: 1; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 23px;
      line-height: 1; } }

h4 {
  font-size: 16px;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 16px;
      line-height: 1; } }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 20px;
      line-height: 1; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 20px;
      line-height: 1; } }

hr {
  height: 4px;
  background-color: #8a4e8c;
  border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px; }

p {
  line-height: 18px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 480px) {
    p {
      line-height: 24px; } }

a {
  outline: 0;
  webkit-transition: all 300ms ease !important;
  -moz-transition: all 300ms ease !important;
  -ms-transition: all 300ms ease !important;
  -o-transition: all 300ms ease !important;
  transition: all 300ms ease !important; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

strong {
  font-weight: 700;
  color: #422255; }

ul, li {
  margin: 0;
  padding: 0; }

section {
  margin: 40px 0; }

.content-layout img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px; }

.img-left,
.img-right,
.img-center {
  margin: 30px 0;
  display: block; }

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  width: 100% !important; }

blockquote {
  position: relative;
  padding: 20px !important;
  width: 100%;
  max-width: 100%;
  margin: 60px auto 40px !important;
  background-color: #fbecc3;
  border: #fbc132 3px solid !important;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
  @media only screen and (min-width: 992px) {
    blockquote {
      max-width: 75%; } }
  blockquote img.alignright {
    margin: 0 auto 20px;
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 768px) {
      blockquote img.alignright {
        float: right;
        margin: 5px 0 20px 20px;
        width: auto; } }
  blockquote p, blockquote .btn {
    margin-bottom: 0 !important; }
  blockquote ul {
    margin: 0;
    padding: 0;
    position: relative; }
    blockquote ul li {
      padding-left: 15px;
      list-style: none;
      margin-bottom: 6px; }
      blockquote ul li:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: "\f105";
        position: absolute;
        left: 0; }
  blockquote .guest-say {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #8a4e8c;
    border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 130px;
    height: 130px;
    padding: 20px;
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      blockquote .guest-say {
        top: -30px;
        left: -60px;
        right: auto;
        margin: 0; } }

blockquote.faq {
  background-color: #e6d5e7 !important;
  border: #8a4e8c 3px solid !important; }
  blockquote.faq p {
    margin-bottom: 0 !important; }

blockquote.review {
  padding: 90px 20px 20px 20px !important; }
  @media only screen and (min-width: 768px) {
    blockquote.review {
      padding: 20px 20px 20px 90px !important; } }
  blockquote.review p {
    margin-bottom: 0 !important; }

.content-wrapper {
  /* list */ }
  .content-wrapper h1 {
    font-size: 35px; }
  .content-wrapper h2 {
    font-size: 30px; }
  .content-wrapper h3 {
    font-size: 24px;
    color: #8a4e8c; }
  .content-wrapper p a {
    color: #8a4e8c;
    text-decoration: underline; }
    .content-wrapper p a:hover, .content-wrapper p a:focus, .content-wrapper p a:active {
      text-decoration: none; }
  .content-wrapper .img-right,
  .content-wrapper .img-left {
    border: #fbc132 5px solid; }
  .content-wrapper .img-right {
    width: 100%;
    margin: 0 0 20px; }
    @media only screen and (min-width: 768px) {
      .content-wrapper .img-right {
        float: right;
        max-width: 45%;
        margin: 0 0 0 20px; } }
  .content-wrapper .img-left {
    width: 100%;
    margin: 0 0 20px; }
    @media only screen and (min-width: 768px) {
      .content-wrapper .img-left {
        float: left;
        max-width: 45%;
        margin: 0 20px 0 0; } }
  .content-wrapper .left-content,
  .content-wrapper .right-content {
    margin: 40px 0; }
    .content-wrapper .left-content:after,
    .content-wrapper .right-content:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .content-wrapper .btn {
    text-decoration: none !important; }
  .content-wrapper ul.list {
    margin: 20px 0;
    padding: 0; }
    .content-wrapper ul.list li {
      padding-left: 15px;
      list-style: none;
      margin-bottom: 6px; }
      .content-wrapper ul.list li:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: "\f105";
        position: absolute;
        left: 15px; }
  .content-wrapper .featured-list {
    margin-bottom: 30px;
    border: #8a4e8c 3px solid;
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    .content-wrapper .featured-list .title {
      font-size: 20px !important;
      color: #fff;
      text-transform: uppercase;
      padding: 10px;
      background: #422255;
      background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
      background: linear-gradient(#8a4e8c, #422255);
      border-radius: 4px 4px 0 0;
      -o-border-radius: 4px 4px 0 0;
      -ms-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0; }
    .content-wrapper .featured-list ul {
      margin: 15px 0;
      padding: 0 20px; }
      .content-wrapper .featured-list ul li {
        line-height: 21px;
        list-style: none;
        background-image: url("../images/icons/ico-featured-list.png");
        background-repeat: no-repeat;
        background-size: 22px 22px;
        background-position: auto;
        padding: 5px 0 5px 30px; }

.sidebar .side-offers-wrapper .flash {
  background-image: url("../images/others/flash.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 215px;
  height: 212px;
  margin: 0 auto;
  position: relative;
  top: none;
  z-index: 1; }
  @media only screen and (min-width: 1200px) {
    .sidebar .side-offers-wrapper .flash {
      width: 265px;
      height: 262px; } }
.sidebar .side-offers-wrapper .side-offers {
  margin: -120px auto 30px auto;
  padding: 120px 15px 10px 15px;
  width: 100%;
  max-width: 100%;
  background-color: #fbecc3;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: #fbc132 3px solid; }
  @media only screen and (min-width: 992px) {
    .sidebar .side-offers-wrapper .side-offers {
      max-width: 92%; } }
  .sidebar .side-offers-wrapper .side-offers .offer {
    text-align: center;
    border-bottom: #fbc132 1px solid;
    margin-bottom: 20px; }
    .sidebar .side-offers-wrapper .side-offers .offer h2 {
      font-size: 28px !important;
      text-transform: uppercase;
      margin: 0 !important;
      color: #422255; }
    .sidebar .side-offers-wrapper .side-offers .offer h3 {
      text-transform: uppercase; }
  .sidebar .side-offers-wrapper .side-offers .btn {
    font-size: 16px;
    display: block;
    text-decoration: none !important;
    padding: 8px 15px !important; }
    @media only screen and (min-width: 1200px) {
      .sidebar .side-offers-wrapper .side-offers .btn {
        font-size: 18px;
        padding: 8px 30px !important; } }
.sidebar .holiday-highlights-block {
  margin-bottom: 30px;
  background-color: #e6d5e7;
  border: #8a4e8c 3px solid;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4); }
  .sidebar .holiday-highlights-block .title {
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background: #422255;
    background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
    background: linear-gradient(#8a4e8c, #422255);
    border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0; }
  .sidebar .holiday-highlights-block ul {
    margin: 15px 0;
    padding: 0 20px; }
    .sidebar .holiday-highlights-block ul li {
      line-height: 21px;
      list-style: none;
      background-image: url("../images/icons/ico-featured-list.png");
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: auto;
      padding: 5px 0 5px 30px; }
.sidebar .latest-news {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #e6d5e7;
  border: #8a4e8c 3px solid;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
  .sidebar .latest-news img {
    width: 100%;
    margin-bottom: 10px;
    border: #fff 5px solid;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  .sidebar .latest-news h3 {
    color: #422255;
    margin: 0; }
  .sidebar .latest-news p {
    margin: 0; }
.sidebar .explore {
  text-align: center;
  color: #fff;
  position: relative;
  padding: 160px 15px 20px;
  margin-top: 80px;
  background-color: #8a4e8c;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
  @media only screen and (min-width: 992px) {
    .sidebar .explore {
      padding: 100px 15px 20px; } }
  @media only screen and (min-width: 1200px) {
    .sidebar .explore {
      padding: 140px 15px 20px; } }
  .sidebar .explore img {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto; }
    @media only screen and (min-width: 992px) {
      .sidebar .explore img {
        width: 100%; } }
  .sidebar .explore h3 {
    color: #fff; }
  .sidebar .explore p {
    margin: 0; }
  .sidebar .explore .btn {
    font-size: 16px;
    padding: 8px 15px !important; }
    @media only screen and (min-width: 1200px) {
      .sidebar .explore .btn {
        font-size: 18px;
        padding: 8px 30px !important; } }

#footer {
  color: #fff;
  text-align: center;
  margin-top: 130px;
  padding: 30px 0;
  background-color: #422255; }
  @media only screen and (min-width: 768px) {
    #footer {
      text-align: left; } }
  #footer .container {
    position: relative; }
  #footer .vector {
    background-image: url("../images/others/footer-vector.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 316px;
    height: 113px;
    display: block;
    position: absolute;
    top: -142px;
    right: 0; }
  #footer h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px !important; }
  #footer .address {
    font-size: 21px;
    font-weight: 700; }
  #footer .btn {
    font-size: 22px;
    display: block;
    padding: 10px !important;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  #footer .footer-nav {
    margin: 20px 0; }
    @media only screen and (min-width: 768px) {
      #footer .footer-nav {
        float: left;
        width: 30%; } }
    @media only screen and (min-width: 992px) {
      #footer .footer-nav {
        margin-right: 30px; } }
    #footer .footer-nav ul {
      margin: 0 0 0 20px;
      padding: 0; }
      #footer .footer-nav ul li {
        list-style: none;
        display: block; }
        #footer .footer-nav ul li a {
          color: #fff; }
          #footer .footer-nav ul li a:hover, #footer .footer-nav ul li a:active, #footer .footer-nav ul li a:focus {
            color: #fbc132; }
  @media only screen and (min-width: 768px) {
    #footer .award {
      float: right; } }
  #footer p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 30px; }
  #footer .websiteby {
    font-size: 12px;
    text-align: center; }
    #footer .websiteby span {
      text-transform: uppercase; }
    #footer .websiteby img {
      display: block;
      margin: 0 auto;
      width: auto; }

#main-nav {
  background: #422255;
  background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
  background: linear-gradient(#8a4e8c, #422255);
  position: relative;
  display: none; }
  @media only screen and (min-width: 992px) {
    #main-nav {
      display: block; } }
  #main-nav ul {
    margin: 0;
    padding: 0; }
    #main-nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 5px; }
      @media only screen and (min-width: 1200px) {
        #main-nav ul li {
          margin: 0 4px; } }
      #main-nav ul li a {
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        padding: 14px 0;
        display: block; }
        #main-nav ul li a:hover, #main-nav ul li a:active, #main-nav ul li a:focus {
          color: #fbc132; }
        @media only screen and (min-width: 1200px) {
          #main-nav ul li a {
            font-size: 18px; } }

#main-nav li .dropdown {
  display: none; }

#main-nav li:hover .dropdown {
  margin: 0;
  z-index: 9999999;
  display: block;
  position: absolute;
  top: 50px;
  background-color: #422255; }
  #main-nav li:hover .dropdown ul {
    margin: 0;
    padding: 5px 0;
    min-width: 280px;
    text-align: left; }
    #main-nav li:hover .dropdown ul li {
      display: block;
      padding: 0; }
      #main-nav li:hover .dropdown ul li a {
        text-transform: none;
        padding: 10px; }

.dropdown-menu {
  z-index: 999 !important; }

.mob-navbar {
  padding: 5px 0;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .mob-navbar {
      display: none; } }

.mob-navbar .menu {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle; }
  @media only screen and (min-width: 480px) {
    .mob-navbar .menu {
      font-size: 21px;
      line-height: 21px; } }
  @media only screen and (min-width: 768px) {
    .mob-navbar .menu {
      font-size: 30px;
      line-height: 30px; } }

#mob-menu {
  color: #8a4e8c;
  background-color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 999;
  text-align: right;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.22); }
  @media only screen and (min-width: 992px) {
    #mob-menu {
      display: none; } }
  #mob-menu .menu {
    padding: 15px;
    background-color: #8a4e8c;
    margin: 0 !important; }
    @media only screen and (min-width: 480px) {
      #mob-menu .menu {
        padding: 12px 15px; } }
  #mob-menu i {
    font-size: 18px;
    color: #fff; }
    #mob-menu i:hover, #mob-menu i:active, #mob-menu i:focus {
      color: #fbc132; }
    @media only screen and (min-width: 480px) {
      #mob-menu i {
        font-size: 23px; } }
  #mob-menu .phone,
  #mob-menu .location,
  #mob-menu .book {
    font-size: 12px;
    text-transform: uppercase;
    color: #8a4e8c;
    margin: 10px 5px;
    display: inline-block; }
    @media only screen and (min-width: 360px) {
      #mob-menu .phone,
      #mob-menu .location,
      #mob-menu .book {
        margin: 10px 12px; } }
    @media only screen and (min-width: 480px) {
      #mob-menu .phone,
      #mob-menu .location,
      #mob-menu .book {
        margin: 10px 20px; } }
    #mob-menu .phone i,
    #mob-menu .location i,
    #mob-menu .book i {
      color: #8a4e8c;
      font-size: 16px;
      margin-right: 3px; }
    #mob-menu .phone:hover, #mob-menu .phone:active, #mob-menu .phone:focus,
    #mob-menu .location:hover,
    #mob-menu .location:active,
    #mob-menu .location:focus,
    #mob-menu .book:hover,
    #mob-menu .book:active,
    #mob-menu .book:focus {
      color: #fbc132; }
  #mob-menu .logo {
    margin: 0 auto;
    padding: 8px 10px;
    background-color: #422255;
    text-align: center;
    height: 100%;
    width: 80px;
    float: left; }
    @media only screen and (min-width: 480px) {
      #mob-menu .logo {
        width: 150px; } }

.mm-menu {
  background-color: #422255 !important; }

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar > * {
  color: #fbc132 !important; }

.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
  border-color: #fbc132 !important; }

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu .mm-listview > li.mm-selected > span {
  background-color: #fbc132 !important; }

#mmenu li a {
  color: #fff;
  text-align: left;
  padding-left: 20px !important; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu {
  left: 0 !important;
  right: auto !important;
  padding: 5px !important;
  margin: 0 !important; }

.dropdown-menu li {
  padding: 5px 0 !important; }

.main-nav .nav li .dropdown-menu a {
  font-size: 18px !important;
  padding: 8px !important; }

.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 30px !important;
  margin: 15px auto;
  white-space: pre-wrap;
  cursor: pointer;
  border: #fff 2px solid;
  border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }

.btn.outline.thick {
  border-width: 2px !important; }
.btn.outline.white {
  color: #fff;
  border: #fff 2px solid; }
  .btn.outline.white:hover {
    background-color: #fbc132; }
.btn.outline.violet {
  color: #422255;
  border: #422255 2px solid; }
  .btn.outline.violet:hover {
    color: #fff;
    background-color: #422255; }

.btn.solid {
  color: #fff;
  border: none; }
  .btn.solid.white {
    color: #8a4e8c;
    background-color: #fff; }
    .btn.solid.white:hover {
      color: #fff;
      background-color: #422255; }
  .btn.solid.light-violet {
    background-color: #8a4e8c; }
    .btn.solid.light-violet:hover {
      background-color: #6a3c6b; }
  .btn.solid.yellow {
    color: #422255;
    background-color: #fbc132; }
    .btn.solid.yellow:hover {
      background-color: #f5b005; }

.btn.shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4); }

.main-slider-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .main-slider-wrapper.no-text .prev-next {
    top: 45% !important; }
  .main-slider-wrapper .main-slider {
    width: 100%; }
    .main-slider-wrapper .main-slider img {
      width: 100%; }
    .main-slider-wrapper .main-slider .text-wrapper {
      width: 100%;
      max-width: 100%;
      position: relative;
      right: 0;
      left: 0;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      background-color: #8a4e8c;
      min-height: 160px;
      display: table; }
      .main-slider-wrapper .main-slider .text-wrapper:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0; }
      @media only screen and (min-width: 480px) {
        .main-slider-wrapper .main-slider .text-wrapper {
          min-height: 218px; } }
      @media only screen and (min-width: 992px) {
        .main-slider-wrapper .main-slider .text-wrapper {
          padding-top: 0;
          max-width: 960px;
          position: absolute;
          top: 80px;
          background-color: transparent;
          min-height: 190px; } }
      @media only screen and (min-width: 1200px) {
        .main-slider-wrapper .main-slider .text-wrapper {
          max-width: 1170px; } }
      .main-slider-wrapper .main-slider .text-wrapper .price-flash {
        font-size: 13px;
        line-height: 13px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        background-color: #8a4e8c;
        border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        width: 98px;
        height: 98px;
        padding: 25px 10px;
        margin: 0 auto; }
        @media only screen and (min-width: 480px) {
          .main-slider-wrapper .main-slider .text-wrapper .price-flash {
            font-size: 16px;
            line-height: 16px;
            width: 128px;
            height: 128px;
            padding: 30px 15px; } }
        @media only screen and (min-width: 992px) {
          .main-slider-wrapper .main-slider .text-wrapper .price-flash {
            top: -20px;
            font-size: 18px;
            line-height: 18px;
            width: 148px;
            height: 148px;
            padding: 30px 20px; } }
        @media only screen and (min-width: 1200px) {
          .main-slider-wrapper .main-slider .text-wrapper .price-flash {
            font-size: 21px;
            line-height: 21px;
            width: 198px;
            height: 198px;
            padding: 50px 20px; } }
        .main-slider-wrapper .main-slider .text-wrapper .price-flash span {
          font-size: 32px;
          line-height: 32px;
          display: block; }
          @media only screen and (min-width: 480px) {
            .main-slider-wrapper .main-slider .text-wrapper .price-flash span {
              font-size: 46px;
              line-height: 46px; } }
          @media only screen and (min-width: 992px) {
            .main-slider-wrapper .main-slider .text-wrapper .price-flash span {
              font-size: 56px;
              line-height: 56px; } }
          @media only screen and (min-width: 1200px) {
            .main-slider-wrapper .main-slider .text-wrapper .price-flash span {
              font-size: 66px;
              line-height: 66px; } }
    .main-slider-wrapper .main-slider .text {
      text-align: center;
      padding: 20px;
      margin-bottom: 3px;
      display: table-cell;
      vertical-align: middle; }
      .main-slider-wrapper .main-slider .text.right {
        float: none; }
        @media only screen and (min-width: 992px) {
          .main-slider-wrapper .main-slider .text.right {
            float: right; } }
      .main-slider-wrapper .main-slider .text.left {
        float: none; }
        @media only screen and (min-width: 992px) {
          .main-slider-wrapper .main-slider .text.left {
            float: left; } }
      @media only screen and (min-width: 992px) {
        .main-slider-wrapper .main-slider .text {
          width: 400px;
          float: right;
          text-align: left;
          margin-bottom: 0; } }
      @media only screen and (min-width: 1200px) {
        .main-slider-wrapper .main-slider .text {
          width: 460px; } }
      .main-slider-wrapper .main-slider .text h2 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 0 !important;
        text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.78);
        -o-text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.78);
        -ms-text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.78);
        -moz-text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.78);
        -webkit-text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.78); }
        @media only screen and (min-width: 768px) {
          .main-slider-wrapper .main-slider .text h2 {
            font-size: 44px;
            line-height: 52px; } }
        @media only screen and (min-width: 1200px) {
          .main-slider-wrapper .main-slider .text h2 {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 20px !important; } }
      .main-slider-wrapper .main-slider .text .btn {
        font-size: 12px;
        line-height: 16px;
        border: #fff 2px solid; }
        @media only screen and (min-width: 768px) {
          .main-slider-wrapper .main-slider .text .btn {
            font-size: 18px;
            line-height: 24px; } }
  .main-slider-wrapper .prev-next {
    margin: 0 auto;
    position: absolute;
    top: 65%;
    left: 0;
    right: 0; }
    @media only screen and (min-width: 768px) {
      .main-slider-wrapper .prev-next {
        top: 60%; } }
    @media only screen and (min-width: 992px) {
      .main-slider-wrapper .prev-next {
        top: 45%; } }
    @media only screen and (min-width: 1200px) {
      .main-slider-wrapper .prev-next {
        top: 45%; } }
  .main-slider-wrapper .prev,
  .main-slider-wrapper .next {
    font-size: 26px;
    color: #fff;
    text-align: center;
    z-index: 2;
    width: auto;
    position: absolute;
    background-color: #422255;
    padding: 2px 8px; }
    @media only screen and (min-width: 768px) {
      .main-slider-wrapper .prev,
      .main-slider-wrapper .next {
        font-size: 36px; } }
    @media only screen and (min-width: 992px) {
      .main-slider-wrapper .prev,
      .main-slider-wrapper .next {
        font-size: 60px; } }
    .main-slider-wrapper .prev i,
    .main-slider-wrapper .next i {
      position: relative;
      top: 21%; }
  .main-slider-wrapper .prev {
    left: 0; }
  .main-slider-wrapper .next {
    right: 0; }

.tab-wrapper {
  display: none; }
  @media only screen and (min-width: 992px) {
    .tab-wrapper {
      display: block; } }

#tab_selector {
  color: #fff;
  text-transform: uppercase;
  text-align: center !important;
  background-color: #422255;
  position: relative;
  padding: 12px; }
  #tab_selector.ct {
    text-align: center; }

.filter-select {
  position: relative; }

.filter-select:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  content: "\f07d";
  position: absolute;
  top: 25%;
  right: 20px;
  font-size: 20px;
  color: #fff;
  pointer-events: none; }

.nav-tabs {
  border: #422255 2px solid;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
  .nav-tabs .nav-item:first-child a {
    border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px; }
  .nav-tabs .nav-item:last-child a {
    border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0; }
  .nav-tabs .nav-item .nav-link {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #5f346b;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none; }
    .nav-tabs .nav-item .nav-link i {
      font-size: 36px !important;
      font-size: 42px;
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      @media only screen and (min-width: 1200px) {
        .nav-tabs .nav-item .nav-link i {
          font-size: 48px !important;
          font-size: 52px; } }
    .nav-tabs .nav-item .nav-link.facilities span.icon {
      width: 75px;
      height: 32px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-bottom: 6px;
      right: 10px;
      background-image: url("../images/icons/facilities.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top; }
      @media only screen and (min-width: 1200px) {
        .nav-tabs .nav-item .nav-link.facilities span.icon {
          width: 97px;
          height: 42px; } }
    .nav-tabs .nav-item .nav-link.facilities:hover span.icon {
      background-image: url("../images/icons/facilities.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom; }
    .nav-tabs .nav-item .nav-link.active.facilities span.icon {
      background-position: bottom; }
    .nav-tabs .nav-item .nav-link:hover {
      color: #fff;
      background-color: #422255; }
  .nav-tabs .nav-item .nav-link.active {
    color: #fff;
    background-color: #422255; }
    .nav-tabs .nav-item .nav-link.active span {
      background-position: 0 -87px; }
      @media only screen and (min-width: 1200px) {
        .nav-tabs .nav-item .nav-link.active span {
          background-position: 0 -103px; } }

.tab-content .card {
  border: none !important; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent !important; }

.columns .column {
  position: relative;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #8a4e8c; }
  .columns .column:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .columns .column.w-btn {
    padding-bottom: 60px; }
  .columns .column img {
    width: 100%;
    border-bottom: #fff 6px solid;
    border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0; }
  .columns .column .content {
    text-align: center;
    color: #fff;
    padding: 20px; }
    .columns .column .content h3 {
      font-size: 25px !important;
      color: #fff !important;
      margin-bottom: 10px !important; }
    .columns .column .content p {
      margin-bottom: 0 !important; }
  .columns .column .btn {
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px; }

.booking-widget {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin: 0;
  background: #422255;
  background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
  background: linear-gradient(#8a4e8c, #422255); }
  .booking-widget:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  @media only screen and (min-width: 1200px) {
    .booking-widget {
      font-size: 14px;
      line-height: 16px; } }
  .booking-widget h3 {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    width: 200px;
    float: left;
    margin: 6px 0 !important;
    text-transform: uppercase;
    font-weight: 400;
    display: none; }
    @media only screen and (min-width: 992px) {
      .booking-widget h3 {
        display: block; } }
    @media only screen and (min-width: 1200px) {
      .booking-widget h3 {
        width: 250px;
        font-size: 24px;
        line-height: 32px; } }
  .booking-widget .form-wrapper {
    padding: 15px 0; }
  /*.booking-widget form div {
    width: 100%;
    margin: 0 0 10px; }
    @media only screen and (min-width: 992px) {
      .booking-widget form div {
        width: 110px;
        float: left;
        margin: 0 5px; } }
    .booking-widget form div label, .booking-widget form div select {
      margin: 0; }
    @media only screen and (min-width: 1200px) {
      .booking-widget form div {
        width: 130px;
        margin: 5px; } }*/
  .booking-widget form .btn {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px !important;
    margin: 10px auto;
    display: block; }
    @media only screen and (min-width: 992px) {
      .booking-widget form .btn {
        padding: 10px !important;
        margin: 10px;
        display: inline-block; } }
    @media only screen and (min-width: 1200px) {
      .booking-widget form .btn {
        padding: 15px 30px !important;
        margin: 12px 10px; } }
  .booking-widget #btn-find-holiday {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 15px 0;
    position: relative; }
    .booking-widget #btn-find-holiday i {
      font-size: 28px;
      top: 12px;
      position: absolute;
      right: 0; }
    @media only screen and (min-width: 992px) {
      .booking-widget #btn-find-holiday {
        display: none; } }

.intro {
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .intro {
      text-align: left; } }
  .intro h2 {
    margin: 5px !important; }
  .intro span {
    font-size: 19px;
    color: #8a4e8c;
    margin-bottom: 20px;
    display: block; }
  .intro .btn {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 20px !important;
    margin: 0 20px 0 0; }
    @media only screen and (min-width: 768px) {
      .intro .btn {
        font-size: 18px;
        line-height: 24px;
        padding: 8px 30px !important; } }
  .intro .img {
    position: relative; }
    .intro .img img {
      width: 100%;
      border: #fff 10px solid;
      margin-top: 30px;
      box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
      -o-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
      -ms-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
      -webkit-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16); }
      @media only screen and (min-width: 992px) {
        .intro .img img {
          margin: 0; } }
    .intro .img .price-flash {
      font-size: 12px;
      line-height: 12px;
      color: #5f346b;
      text-align: center;
      font-weight: 700;
      width: 112px;
      height: 112px;
      padding: 15px;
      position: absolute;
      bottom: -20px;
      right: -15px;
      background-color: #fbc132;
      border-radius: 100%;
      -o-border-radius: 100%;
      -ms-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25); }
      @media only screen and (min-width: 768px) {
        .intro .img .price-flash {
          font-size: 16px;
          line-height: 18px;
          width: 157px;
          height: 157px;
          padding: 25px 20px;
          bottom: -30px;
          right: -30px; } }
      @media only screen and (min-width: 1200px) {
        .intro .img .price-flash {
          font-size: 20px;
          line-height: 24px;
          width: 197px;
          height: 197px;
          padding: 25px 30px;
          bottom: -50px;
          right: -80px; } }
      .intro .img .price-flash span {
        font-size: 35px;
        line-height: 35px;
        color: #5f346b;
        display: block;
        margin: 0; }
        @media only screen and (min-width: 768px) {
          .intro .img .price-flash span {
            font-size: 40px;
            line-height: 40px; } }
        @media only screen and (min-width: 1200px) {
          .intro .img .price-flash span {
            font-size: 60px;
            line-height: 60px; } }

.park-highlights {
  background-color: #8a4e8c;
  padding: 20px 0; }
  .park-highlights .highlight {
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 20px 0; }
    .park-highlights .highlight i {
      font-size: 70px;
      color: #fbc132;
      display: block;
      margin-bottom: 20px; }

.accommodation .accom-slider {
  position: relative; }
  .accommodation .accom-slider .accom {
    text-align: center;
    margin: 0 30px; }
    @media only screen and (min-width: 768px) {
      .accommodation .accom-slider .accom {
        margin: 0 15px; } }
    .accommodation .accom-slider .accom img {
      width: 100%;
      margin-bottom: 20px; }
    .accommodation .accom-slider .accom h3 {
      font-size: 24px;
      color: #8a4e8c;
      text-transform: uppercase;
      margin-bottom: 3px !important; }
    .accommodation .accom-slider .accom span {
      font-size: 17px;
      font-weight: 700;
      color: #422255;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: block; }
    .accommodation .accom-slider .accom p {
      margin: 0; }
  .accommodation .accom-slider .btn-prev,
  .accommodation .accom-slider .btn-next {
    position: absolute;
    top: 20%;
    cursor: pointer; }
    .accommodation .accom-slider .btn-prev i,
    .accommodation .accom-slider .btn-next i {
      font-size: 40px;
      color: #8a4e8c; }
  .accommodation .accom-slider .btn-prev {
    left: -10px; }
    @media only screen and (min-width: 768px) {
      .accommodation .accom-slider .btn-prev {
        left: -40px; } }
  .accommodation .accom-slider .btn-next {
    right: -10px; }
    @media only screen and (min-width: 768px) {
      .accommodation .accom-slider .btn-next {
        right: -40px; } }
  .accommodation .accom-slider .slick-dots {
    bottom: -30px;
    display: block !important; }
    @media only screen and (min-width: 768px) {
      .accommodation .accom-slider .slick-dots {
        display: none !important; } }
  .accommodation .accom-slider .slick-dots li button:before {
    width: 15px !important;
    height: 15px !important;
    color: transparent !important;
    background-color: #383838;
    border: #383838 2px solid !important;
    padding: 0;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    content: '' !important; }
  .accommodation .accom-slider .slick-dots li:hover button:before,
  .accommodation .accom-slider .slick-dots li.slick-active button:before {
    color: #5f346b !important;
    background-color: #5f346b;
    border: #5f346b 2px solid !important; }

.accommodation-listing .accom-wrapper {
  background-image: url("../images/bg/wood-bg-vert.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  padding: 10px 0;
  margin: 120px 0 60px;
  max-height: 520px; }
  @media only screen and (min-width: 480px) {
    .accommodation-listing .accom-wrapper {
      max-height: 560px; } }
  @media only screen and (min-width: 768px) {
    .accommodation-listing .accom-wrapper {
      max-height: 680px; } }
  @media only screen and (min-width: 992px) {
    .accommodation-listing .accom-wrapper {
      margin: 0 0 60px;
      background-image: url("../images/bg/wood-bg.jpg");
      background-repeat: repeat;
      background-size: cover;
      background-position: top;
      max-height: 302px; } }
  @media only screen and (min-width: 1200px) {
    .accommodation-listing .accom-wrapper {
      max-height: 359px; } }
  .accommodation-listing .accom-wrapper .accom {
    position: relative;
    top: -90px; }
    @media only screen and (min-width: 992px) {
      .accommodation-listing .accom-wrapper .accom {
        top: auto; } }
    .accommodation-listing .accom-wrapper .accom .price-flash {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      background: #8a4e8c;
      border-radius: 100px;
      -o-border-radius: 100px;
      -ms-border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: -30px;
      left: -10px;
      z-index: 1;
      width: 94px;
      height: 94px;
      padding: 25px 10px;
      margin: 0 auto; }
      @media only screen and (min-width: 480px) {
        .accommodation-listing .accom-wrapper .accom .price-flash {
          width: 134px;
          height: 134px;
          padding: 30px 20px; } }
      .accommodation-listing .accom-wrapper .accom .price-flash span {
        font-size: 24px;
        line-height: 24px;
        display: block; }
        @media only screen and (min-width: 480px) {
          .accommodation-listing .accom-wrapper .accom .price-flash span {
            font-size: 44px;
            line-height: 44px; } }
    .accommodation-listing .accom-wrapper .accom .img-wrapper {
      position: relative; }
      @media only screen and (min-width: 992px) {
        .accommodation-listing .accom-wrapper .accom .img-wrapper {
          top: -20px; } }
      .accommodation-listing .accom-wrapper .accom .img-wrapper img {
        width: 100%; }
      .accommodation-listing .accom-wrapper .accom .img-wrapper .img-sm {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: none; }
        @media only screen and (min-width: 992px) {
          .accommodation-listing .accom-wrapper .accom .img-wrapper .img-sm {
            display: block; } }
        .accommodation-listing .accom-wrapper .accom .img-wrapper .img-sm img {
          width: 192px;
          height: 128px;
          border: #fff 5px solid;
          border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
          -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
          -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25); }
    .accommodation-listing .accom-wrapper .accom .content {
      border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      background-color: #fff;
      padding: 20px;
      position: relative; }
      @media only screen and (min-width: 768px) {
        .accommodation-listing .accom-wrapper .accom .content {
          padding: 20px 40px; } }
      @media only screen and (min-width: 992px) {
        .accommodation-listing .accom-wrapper .accom .content {
          height: 89%;
          border-radius: 0 20px 20px 0;
          -o-border-radius: 0 20px 20px 0;
          -ms-border-radius: 0 20px 20px 0;
          -moz-border-radius: 0 20px 20px 0;
          -webkit-border-radius: 0 20px 20px 0; } }
      .accommodation-listing .accom-wrapper .accom .content h3 {
        line-height: 24px !important;
        text-transform: uppercase;
        margin-bottom: 0 !important; }
        @media only screen and (min-width: 1200px) {
          .accommodation-listing .accom-wrapper .accom .content h3 {
            margin-bottom: 5px !important; } }
      .accommodation-listing .accom-wrapper .accom .content h5 {
        font-size: 16px !important;
        line-height: 16px !important;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px !important; }
        @media only screen and (min-width: 1200px) {
          .accommodation-listing .accom-wrapper .accom .content h5 {
            font-size: 18px !important;
            line-height: 18px !important;
            margin-bottom: 10px !important; } }
      .accommodation-listing .accom-wrapper .accom .content .pet-friendly {
        text-align: center;
        width: 38px;
        height: 36px;
        padding: 6px 0;
        background-color: #fbc132;
        border-radius: 100%;
        -o-border-radius: 100%;
        -ms-border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        position: absolute;
        top: 15px;
        right: 15px; }
        @media only screen and (min-width: 480px) {
          .accommodation-listing .accom-wrapper .accom .content .pet-friendly {
            padding: 10px 0;
            width: 64px;
            height: 63px; } }
        .accommodation-listing .accom-wrapper .accom .content .pet-friendly i {
          font-size: 23px;
          line-height: 23px;
          color: #fff;
          -webkit-transform: rotate(-30deg);
          -moz-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
          -o-transform: rotate(-30deg);
          transform: rotate(-30deg); }
          @media only screen and (min-width: 480px) {
            .accommodation-listing .accom-wrapper .accom .content .pet-friendly i {
              font-size: 43px;
              line-height: 43px; } }
      .accommodation-listing .accom-wrapper .accom .content .sleeps {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        padding: 5px 10px;
        margin-right: 10px;
        display: inline-block;
        background-color: #422255;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; }
      .accommodation-listing .accom-wrapper .accom .content .price-band {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        padding: 5px 10px;
        margin-right: 10px;
        display: inline-block;
        background-color: #8a4e8c;
        border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; }
      .accommodation-listing .accom-wrapper .accom .content ul {
        margin: 20px 0 0;
        padding: 0;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2; }
        .accommodation-listing .accom-wrapper .accom .content ul li {
          line-height: 18px;
          list-style: none;
          background-image: url("../images/icons/ico-featured-list.png");
          background-repeat: no-repeat;
          background-size: 22px 22px;
          background-position: auto;
          padding: 5px 0 5px 35px; }
          @media only screen and (min-width: 1200px) {
            .accommodation-listing .accom-wrapper .accom .content ul li {
              background-size: auto;
              padding: 10px 0 10px 35px; } }
      .accommodation-listing .accom-wrapper .accom .content .btn {
        margin: 5px auto !important;
        display: block; }
        @media only screen and (min-width: 1200px) {
          .accommodation-listing .accom-wrapper .accom .content .btn {
            margin: 10px 0 !important;
            display: inline-block; } }

.accommodation-detail .price-band,
.accommodation-detail .sleeps,
.accommodation-detail .pet-friendly {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
  margin: 10px;
  display: block;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  @media only screen and (min-width: 992px) {
    .accommodation-detail .price-band,
    .accommodation-detail .sleeps,
    .accommodation-detail .pet-friendly {
      margin: 0 10px;
      display: inline-block; } }
.accommodation-detail .price-band {
  background-color: #8a4e8c; }
.accommodation-detail .sleeps {
  background-color: #422255; }
.accommodation-detail .pet-friendly {
  background-color: #fbc132;
  padding: 10px 80px;
  position: relative; }
  .accommodation-detail .pet-friendly i {
    font-size: 42px;
    line-height: 16px;
    position: absolute;
    left: 30px;
    top: 10px;
    bottom: 0;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
.accommodation-detail .gallery {
  margin: 40px 0;
  padding: 30px 0;
  background-image: url("../images/bg/wood-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: top; }
  .accommodation-detail .gallery img {
    width: 100%;
    margin: 15px 0;
    border: #fff 6px solid;
    box-shadow: 0px 6px 8.37px 0.63px rgba(0, 0, 0, 0.31);
    -o-box-shadow: 0px 6px 8.37px 0.63px rgba(0, 0, 0, 0.31);
    -ms-box-shadow: 0px 6px 8.37px 0.63px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 6px 8.37px 0.63px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 6px 8.37px 0.63px rgba(0, 0, 0, 0.31); }
.accommodation-detail .property-grades {
  padding: 5px 10px;
  background-color: #fbc132;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block; }
  .accommodation-detail .property-grades:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  @media only screen and (min-width: 768px) {
    .accommodation-detail .property-grades {
      border-radius: 15px;
      -o-border-radius: 15px;
      -ms-border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px; } }
  .accommodation-detail .property-grades span {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin: 10px 0;
    display: inline-block; }
    @media only screen and (min-width: 1200px) {
      .accommodation-detail .property-grades span {
        margin: 8px 0;
        font-size: 21px;
        line-height: 26px; } }
  .accommodation-detail .property-grades ul {
    float: right;
    margin: 0;
    padding: 0; }
    .accommodation-detail .property-grades ul li {
      list-style: none;
      display: inline-block;
      margin: 0 2px; }
      .accommodation-detail .property-grades ul li img {
        width: 45px;
        height: 45px; }
        @media only screen and (min-width: 992px) {
          .accommodation-detail .property-grades ul li img {
            width: 35px;
            height: 35px; } }
        @media only screen and (min-width: 1200px) {
          .accommodation-detail .property-grades ul li img {
            width: 50px;
            height: 50px; } }
.accommodation-detail .features {
  margin: 30px 0;
  border: #422255 2px solid;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center; }
  .accommodation-detail .features .title {
    font-size: 24px !important;
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    text-align: center;
    background-color: #422255;
    border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0; }
  .accommodation-detail .features ul {
    margin: 15px 0;
    padding: 0 20px; }
    .accommodation-detail .features ul li {
      text-align: left;
      line-height: 21px;
      list-style: none;
      background-image: url("../images/icons/ico-featured-list.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: auto;
      padding: 8px 0 8px 35px; }
  .accommodation-detail .features .btn {
    display: inline-block;
    margin: 0 0 20px !important;
    width: 90%; }
    @media only screen and (min-width: 768px) {
      .accommodation-detail .features .btn {
        width: 60%; } }

.discover-cornwall {
  position: relative;
  height: auto;
  margin: 60px 0 0; }
  @media only screen and (min-width: 992px) {
    .discover-cornwall {
      background-image: url("../images/banners/cornwall.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      height: 756px;
      margin: 0; } }
  .discover-cornwall .image {
    display: block; }
    @media only screen and (min-width: 992px) {
      .discover-cornwall .image {
        display: none; } }
    .discover-cornwall .image img {
      width: 100%;
      margin: 0 auto; }
  .discover-cornwall .content-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    position: relative;
    margin: 0 auto; }
    @media only screen and (min-width: 992px) {
      .discover-cornwall .content-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 15px; } }
    .discover-cornwall .content-wrapper .text-wrapper {
      width: 100%;
      height: 100%;
      padding: 20px;
      color: #fff;
      text-align: center;
      background: #8a4e8c;
      background-color: rgba(138, 78, 140, 0.85); }
      @media only screen and (min-width: 992px) {
        .discover-cornwall .content-wrapper .text-wrapper {
          text-align: left;
          width: 360px;
          position: absolute;
          right: 0;
          top: 0;
          padding: 60px 20px; } }
      .discover-cornwall .content-wrapper .text-wrapper h2 {
        color: #fff; }
      .discover-cornwall .content-wrapper .text-wrapper .btn {
        padding: 8px 10px !important; }
    .discover-cornwall .content-wrapper .vector {
      display: none; }
      @media only screen and (min-width: 992px) {
        .discover-cornwall .content-wrapper .vector {
          display: block; } }
  .discover-cornwall .gal-img1,
  .discover-cornwall .gal-img2 {
    display: none; }
    @media only screen and (min-width: 992px) {
      .discover-cornwall .gal-img1,
      .discover-cornwall .gal-img2 {
        display: block; } 
		
		.discover-cornwall .gal-img2 img {
			width: 450px;
		}
		
	}
  .discover-cornwall .gal-img1 {
    position: absolute;
    left: 0;
    bottom: -60px; }
  .discover-cornwall .gal-img2 {
    position: absolute;
    right: 0;
    bottom: -40px; }

.offers h4 {
  font-weight: 400;
  color: #8a4e8c; }
.offers p {
  margin: 5px 0; }
.offers .offers-wrapper {
  margin: 120px 0 20px 0;
  position: relative; }
  @media only screen and (min-width: 992px) {
    .offers .offers-wrapper {
      margin: 20px 0; } }
  .offers .offers-wrapper .flash {
    background-image: url("../images/others/flash.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 222px;
    height: 222px;
    position: absolute;
    left: -20px;
    top: -85px;
    z-index: 1;
    display: none; }
    @media only screen and (min-width: 992px) {
      .offers .offers-wrapper .flash {
        display: block;
        width: 142px;
        height: 142px; } }
    @media only screen and (min-width: 1200px) {
      .offers .offers-wrapper .flash {
        left: -120px;
        width: 222px;
        height: 222px; } }
  .offers .offers-wrapper .asbo {
    background-image: url("../images/others/asbo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 141px;
    height: 147px;
    position: absolute;
    top: -110px;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto; }
    @media only screen and (min-width: 992px) {
      .offers .offers-wrapper .asbo {
        right: 10px;
        left: auto;
        margin: 0; } }
  .offers .offers-wrapper .offer {
    position: relative;
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #fbc132;
    padding-bottom: 60px;
    height: 100%; }
    .offers .offers-wrapper .offer img {
      width: 100%;
      border-bottom: #fff 6px solid;
      border-radius: 20px 20px 0 0;
      -o-border-radius: 20px 20px 0 0;
      -ms-border-radius: 20px 20px 0 0;
      -moz-border-radius: 20px 20px 0 0;
      -webkit-border-radius: 20px 20px 0 0; }
    .offers .offers-wrapper .offer .content {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
      padding: 20px; }
      .offers .offers-wrapper .offer .content h3 {
        font-size: 21px;
        color: #8a4e8c;
        text-transform: uppercase;
        margin-bottom: 10px !important; }
        @media only screen and (min-width: 1200px) {
          .offers .offers-wrapper .offer .content h3 {
            font-size: 25px; } }
    .offers .offers-wrapper .offer .btn {
      position: absolute;
      bottom: 5px;
      left: 20px;
      right: 20px; }
      @media only screen and (min-width: 768px) {
        .offers .offers-wrapper .offer .btn {
          font-size: 16px; } }
  .offers .offers-wrapper .slick-dots {
    bottom: -40px;
    display: block !important; }
    @media only screen and (min-width: 992px) {
      .offers .offers-wrapper .slick-dots {
        display: none !important; } }
  .offers .offers-wrapper .slick-dots li button:before {
    width: 15px !important;
    height: 15px !important;
    color: transparent !important;
    background-color: #383838;
    border: #383838 2px solid !important;
    padding: 0;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    content: '' !important; }
  .offers .offers-wrapper .slick-dots li:hover button:before,
  .offers .offers-wrapper .slick-dots li.slick-active button:before {
    color: #5f346b !important;
    background-color: #5f346b;
    border: #5f346b 2px solid !important; }

.offers-page-wrapper {
  position: relative; }
  @media only screen and (min-width: 768px) {
    .offers-page-wrapper {
      margin-top: 120px; } }
  @media only screen and (min-width: 992px) {
    .offers-page-wrapper {
      margin-top: 100px; } }
  @media only screen and (min-width: 1200px) {
    .offers-page-wrapper {
      margin-top: 60px; } }
  .offers-page-wrapper .asbo {
    background-image: url("../images/others/asbo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 141px;
    height: 147px;
    position: absolute;
    top: -115px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    display: none; }
    @media only screen and (min-width: 768px) {
      .offers-page-wrapper .asbo {
        display: block; } }
    @media only screen and (min-width: 992px) {
      .offers-page-wrapper .asbo {
        right: 10px;
        left: auto;
        margin: 0; } }
  .offers-page-wrapper .offer {
    margin-top: 50px;
    background-color: #fbecc3;
    border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .offers-page-wrapper .offer {
        border: #8a4e8c 2px solid;
        padding: 15px; } }
    .offers-page-wrapper .offer .price-flash {
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      color: #5f346b;
      text-align: center;
      background: #fbc132;
      border-radius: 100px;
      -o-border-radius: 100px;
      -ms-border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
      position: absolute;
      z-index: 1;
      width: 128px;
      height: 129px;
      padding: 30px 15px;
      margin: 0 auto;
      display: none; }
      @media only screen and (min-width: 480px) {
        .offers-page-wrapper .offer .price-flash {
          display: block;
          top: -20px;
          left: -10px; } }
      @media only screen and (min-width: 768px) {
        .offers-page-wrapper .offer .price-flash {
          left: -25px; } }
      @media only screen and (min-width: 1200px) {
        .offers-page-wrapper .offer .price-flash {
          top: -20px;
          left: -75px;
          width: 148px;
          height: 149px;
          padding: 40px 15px; } }
      .offers-page-wrapper .offer .price-flash span {
        font-size: 45px;
        line-height: 45px; }
    .offers-page-wrapper .offer .sun-flash {
      background-image: url("../images/others/flash.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 183px;
      height: 183px;
      position: absolute;
      top: -20px;
      left: -90px;
      z-index: 1;
      display: none; }
      @media only screen and (min-width: 480px) {
        .offers-page-wrapper .offer .sun-flash {
          display: block; } }
    .offers-page-wrapper .offer .content {
      padding: 20px;
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .offers-page-wrapper .offer .content {
          padding: 0;
          text-align: left; } }
    .offers-page-wrapper .offer img {
      width: 100%;
      border-radius: 20px 20px 0 0;
      -o-border-radius: 20px 20px 0 0;
      -ms-border-radius: 20px 20px 0 0;
      -moz-border-radius: 20px 20px 0 0;
      -webkit-border-radius: 20px 20px 0 0;
      border-bottom: #fff 10px solid; }
      @media only screen and (min-width: 768px) {
        .offers-page-wrapper .offer img {
          border: #fff 8px solid;
          border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
          -o-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
          -ms-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16);
          -webkit-box-shadow: 0px 0px 6.7px 3.3px rgba(0, 0, 0, 0.16); } }
    .offers-page-wrapper .offer h2 {
      color: #8a4e8c;
      margin: 10px 0 !important;
      text-transform: uppercase; }
    .offers-page-wrapper .offer h4 {
      color: #422255;
      text-transform: uppercase; }
    .offers-page-wrapper .offer p {
      margin-bottom: 15px !important; }
    .offers-page-wrapper .offer .btn {
      font-size: 14px;
      padding: 10px !important;
      border: #fff 2px solid;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
      display: block; }
      @media only screen and (min-width: 992px) {
        .offers-page-wrapper .offer .btn {
          display: inline-block; } }
      @media only screen and (min-width: 1200px) {
        .offers-page-wrapper .offer .btn {
          font-size: 17px;
          padding: 10px 15px !important; } }
    .offers-page-wrapper .offer .discount-code {
      font-size: 14px;
      color: #422255;
      font-weight: 700;
      text-transform: uppercase;
      padding: 8px;
      border: #422255 2px solid;
      background-color: #fff;
      border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      position: relative;
      display: block; }
      @media only screen and (min-width: 992px) {
        .offers-page-wrapper .offer .discount-code {
          display: inline-block;
          margin-left: 10px; } }
      @media only screen and (min-width: 1200px) {
        .offers-page-wrapper .offer .discount-code {
          font-size: 17px; } }
      .offers-page-wrapper .offer .discount-code span {
        font-size: 21px;
        color: #fbc132;
        text-transform: uppercase; }
        @media only screen and (min-width: 1200px) {
          .offers-page-wrapper .offer .discount-code span {
            font-size: 28px; } }
  .offers-page-wrapper #full-details {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    padding: 12px 20px;
    background-color: #8a4e8c;
    display: block;
    border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px; }
    .offers-page-wrapper #full-details i {
      font-size: 48px;
      line-height: 21px;
      float: right; }
    .offers-page-wrapper #full-details.open-details {
      border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
  .offers-page-wrapper .details-wrapper {
    background-color: #eeeeee;
    padding: 20px;
    margin-top: 10px;
    border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px; }

.cta {
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  color: #8a4e8c;
  margin: 60px 0;
  text-align: center; }
  @media only screen and (min-width: 480px) {
    .cta {
      font-size: 32px;
      line-height: 32px; } }
  @media only screen and (min-width: 992px) {
    .cta {
      text-align: left; } }
  .cta h2 {
    font-size: 24px;
    line-height: 24px;
    color: #422255;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0 !important; }
    @media only screen and (min-width: 480px) {
      .cta h2 {
        font-size: 40px;
        line-height: 40px;
        margin: 15px 0 !important; } }
  .cta .phone {
    font-size: 36px;
    line-height: 36px;
    color: #422255;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0 !important;
    display: block; }
    @media only screen and (min-width: 480px) {
      .cta .phone {
        font-size: 66px;
        line-height: 66px;
        margin: 15px 0 !important; } }
  .cta .sign-up {
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #422255;
    background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
    background: linear-gradient(#8a4e8c, #422255); }
    .cta .sign-up:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    .cta .sign-up span {
      font-size: 21px;
      line-height: 24px;
      display: block;
      margin: 0 0 10px 0 !important; }
      @media only screen and (min-width: 1200px) {
        .cta .sign-up span {
          font-size: 24px;
          line-height: 26px; } }
    .cta .sign-up input[type='text'],
    .cta .sign-up input[type='email'] {
      font-size: 18px;
      line-height: 21px;
      color: #6d6e71;
      font-weight: 300;
      border: #422255 2px solid;
      border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      width: 98%;
      margin: 8px;
      padding: 3px 12px;
      outline: none; }
      @media only screen and (min-width: 992px) {
        .cta .sign-up input[type='text'],
        .cta .sign-up input[type='email'] {
          width: 46.5%;
          float: left;
          margin: 0 7px; } }
      @media only screen and (min-width: 1200px) {
        .cta .sign-up input[type='text'],
        .cta .sign-up input[type='email'] {
          width: 47%; } }
    .cta .sign-up input[type='submit'] {
      font-size: 24px;
      line-height: 26px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      background: #422255;
      background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
      background: linear-gradient(#8a4e8c, #422255);
      padding: 5px 40px;
      margin: 10px auto;
      border: #fff 2px solid;
      border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      display: inline-block;
      clear: both;
      cursor: pointer; }
      .cta .sign-up input[type='submit']:hover {
        background: #8a4e8c;
        background: -webkit-linear-gradient(legacy-direction(#422255), #8a4e8c);
        background: linear-gradient(#422255, #8a4e8c); }
    .cta .sign-up p {
      font-size: 14px;
      line-height: 16px;
      margin: 10px 0;
      clear: both; }
      .cta .sign-up p a {
        color: #fbc132; }

.cross-sales {
  padding: 0 0 30px; }
  @media only screen and (min-width: 992px) {
    .cross-sales {
      background-image: url("../images/bg/wood-bg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 60%;
      background-position: 0 100%; } }
  @media only screen and (min-width: 1200px) {
    .cross-sales {
      background-image: url("../images/bg/wood-bg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 60%;
      background-position: 0 100%; } }
  .cross-sales .col-lg-4 {
    background-image: url("../images/bg/wood-bg-vert.jpg");
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-position: 0 100%; }
    @media only screen and (min-width: 992px) {
      .cross-sales .col-lg-4 {
        background: unset; } }
  .cross-sales h2 {
    text-align: center; }
  .cross-sales .accom-wrapper {
    margin-top: 40px; }
    .cross-sales .accom-wrapper .accom {
      position: relative; }
      .cross-sales .accom-wrapper .accom .price-flash {
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        background: #8a4e8c;
        border-radius: 100px;
        -o-border-radius: 100px;
        -ms-border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: -30px;
        left: -10px;
        z-index: 1;
        width: 94px;
        height: 94px;
        padding: 25px 10px;
        margin: 0 auto; }
        @media only screen and (min-width: 480px) {
          .cross-sales .accom-wrapper .accom .price-flash {
            width: 114px;
            height: 114px;
            padding: 30px 20px; } }
        @media only screen and (min-width: 1200px) {
          .cross-sales .accom-wrapper .accom .price-flash {
            width: 134px;
            height: 134px;
            padding: 30px 20px; } }
        .cross-sales .accom-wrapper .accom .price-flash span {
          font-size: 24px;
          line-height: 24px;
          display: block; }
          @media only screen and (min-width: 480px) {
            .cross-sales .accom-wrapper .accom .price-flash span {
              font-size: 28px;
              line-height: 28px; } }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .price-flash span {
              font-size: 44px;
              line-height: 44px; } }
      .cross-sales .accom-wrapper .accom .img-wrapper {
        position: relative; }
        .cross-sales .accom-wrapper .accom .img-wrapper img {
          width: 100%; }
        .cross-sales .accom-wrapper .accom .img-wrapper .img-sm {
          position: absolute;
          right: 10px;
          bottom: 10px;
          display: none; }
          @media only screen and (min-width: 992px) {
            .cross-sales .accom-wrapper .accom .img-wrapper .img-sm {
              display: block; } }
          .cross-sales .accom-wrapper .accom .img-wrapper .img-sm img {
            width: 192px;
            height: 128px;
            border: #fff 5px solid;
            border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
            -o-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
            -ms-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 0px 4px 8.37px 0.63px rgba(0, 0, 0, 0.25); }
      .cross-sales .accom-wrapper .accom .content {
        border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        background-color: #fff;
        padding: 15px;
        margin-bottom: 20px;
        position: relative; }
        @media only screen and (min-width: 992px) {
          .cross-sales .accom-wrapper .accom .content {
            margin-bottom: 0; } }
        .cross-sales .accom-wrapper .accom .content h3 {
          font-size: 18px !important;
          line-height: 18px !important;
          text-transform: uppercase;
          margin-bottom: 0 !important; }
          @media only screen and (min-width: 992px) {
            .cross-sales .accom-wrapper .accom .content h3 {
              font-size: 16px !important;
              line-height: 16px !important; } }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content h3 {
              font-size: 21px !important;
              line-height: 21px !important;
              margin-bottom: 5px !important; } }
        .cross-sales .accom-wrapper .accom .content h5 {
          font-size: 16px !important;
          line-height: 18px !important;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 5px !important; }
          @media only screen and (min-width: 992px) {
            .cross-sales .accom-wrapper .accom .content h5 {
              font-size: 14px !important;
              line-height: 16px !important; } }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content h5 {
              font-size: 18px !important;
              line-height: 18px !important;
              margin-bottom: 10px !important; } }
        .cross-sales .accom-wrapper .accom .content .pet-friendly {
          text-align: center;
          width: 45px;
          height: 45px;
          padding: 6px 0;
          background-color: #fbc132;
          border-radius: 100%;
          -o-border-radius: 100%;
          -ms-border-radius: 100%;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          position: absolute;
          top: -5px;
          right: 0;
          padding: 10px 0; }
          @media only screen and (min-width: 992px) {
            .cross-sales .accom-wrapper .accom .content .pet-friendly {
              top: 10px;
              width: 35px;
              height: 35px; } }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content .pet-friendly {
              width: 50px;
              height: 50px; } }
          .cross-sales .accom-wrapper .accom .content .pet-friendly i {
            font-size: 26px;
            line-height: 26px;
            color: #fff;
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);
            -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
            left: 5px;
            right: 0;
            top: 8px; }
            @media only screen and (min-width: 992px) {
              .cross-sales .accom-wrapper .accom .content .pet-friendly i {
                top: 5px;
                font-size: 20px;
                line-height: 20px; } }
            @media only screen and (min-width: 1200px) {
              .cross-sales .accom-wrapper .accom .content .pet-friendly i {
                font-size: 32px;
                line-height: 32px;
                top: 10px; } }
        .cross-sales .accom-wrapper .accom .content .sleeps {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          text-transform: uppercase;
          color: #fff;
          padding: 5px 10px;
          margin: 0 5px 0 0 !important;
          display: inline-block;
          background-color: #422255;
          border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px; }
          @media only screen and (min-width: 992px) {
            .cross-sales .accom-wrapper .accom .content .sleeps {
              font-size: 13px;
              line-height: 13px; } }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content .sleeps {
              margin: 0 10px 0 0 !important;
              font-size: 16px;
              line-height: 16px; } }
        .cross-sales .accom-wrapper .accom .content .price-band {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          text-transform: uppercase;
          color: #fff;
          padding: 5px 10px;
          margin: 0 0 0 5px !important;
          display: inline-block;
          background-color: #8a4e8c;
          border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px; }
          @media only screen and (min-width: 992px) {
            .cross-sales .accom-wrapper .accom .content .price-band {
              font-size: 13px;
              line-height: 13px; } }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content .price-band {
              margin: 0 0 0 10px !important;
              font-size: 16px;
              line-height: 16px; } }
        .cross-sales .accom-wrapper .accom .content ul {
          margin: 0;
          padding: 0; }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content ul {
              margin: 20px 0 0; } }
          .cross-sales .accom-wrapper .accom .content ul li {
            line-height: 18px;
            list-style: none;
            background-image: url("../images/icons/ico-featured-list.png");
            background-repeat: no-repeat;
            background-size: 22px 22px;
            background-position: auto;
            padding: 5px 0 5px 35px; }
            @media only screen and (min-width: 1200px) {
              .cross-sales .accom-wrapper .accom .content ul li {
                background-size: auto;
                padding: 10px 0 10px 35px; } }
        .cross-sales .accom-wrapper .accom .content .btn {
          margin: 10px auto 5px !important;
          width: 100%;
          display: block; }
          @media only screen and (min-width: 1200px) {
            .cross-sales .accom-wrapper .accom .content .btn {
              width: 70%; } }

.tariff .text {
  width: 100%;
  margin: 0 auto; }
.tariff h4 {
  color: #8a4e8c; }
.tariff .accord-header {
  margin: 10px 0;
  display: block; }
.tariff .card {
  border: none !important; }
.tariff .card-header:first-child {
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
.tariff .accord-header.summerhouse .card-header {
  color: #422255;
  background-color: #fbc132; }
  .tariff .accord-header.summerhouse .card-header h2 {
    color: #422255; }
.tariff .card-header {
  background-color: #8a4e8c;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 6px 10px !important; }
  .tariff .card-header.open-content {
    border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0; }
  .tariff .card-header h2 {
    font-size: 32px;
    font-weight: 700 !important;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0 !important; }
    .tariff .card-header h2 span {
      display: none; }
      @media only screen and (min-width: 768px) {
        .tariff .card-header h2 span {
          display: inline-block; } }
  .tariff .card-header .sm-txt {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    margin: 5px 0; }
    @media only screen and (min-width: 480px) {
      .tariff .card-header .sm-txt {
        font-size: 16px;
        line-height: 18px;
        margin: 3px 0; } }
    .tariff .card-header .sm-txt span {
      display: block; }
  .tariff .card-header i {
    font-size: 42px !important;
    margin: 0;
    position: absolute;
    right: 15px;
    top: 6px; }
.tariff .card-body {
  padding: 10px 15px;
  background-color: #e6d5e7; }
.tariff .tariff-table,
.tariff .tablepress {
  width: 100%;
  margin: 0 auto;
  border: #aaa7a0 1px solid !important; }
  @media only screen and (min-width: 768px) {
    .tariff .tariff-table,
    .tariff .tablepress {
      width: 90%; } }
  .tariff .tariff-table thead td,
  .tariff .tariff-table thead th,
  .tariff .tablepress thead td,
  .tariff .tablepress thead th {
    font-size: 700 !important;
    color: #fff;
    background-color: #422255;
    padding: 5px; }
    .tariff .tariff-table thead td strong,
    .tariff .tariff-table thead th strong,
    .tariff .tablepress thead td strong,
    .tariff .tablepress thead th strong {
      color: #fff; }
  .tariff .tariff-table tbody tr,
  .tariff .tablepress tbody tr {
    background-color: #fff; }
  .tariff .tariff-table tbody tr:nth-child(odd),
  .tariff .tablepress tbody tr:nth-child(odd) {
    background-color: #fdecc0 !important; }
  .tariff .tariff-table .odd td,
  .tariff .tablepress .odd td {}
  
  
  
.modal {
  background-color: rgba(95, 52, 107, 0.5);
}
.modal .modal-dialog {
  width: calc(100% - 60px) !important;
  max-width: 600px !important;
  margin: 0 auto !important;
}
.modal .modal-content {
  padding: 24px 18px;
  background-color: #fbc132;
  border-radius: 18px !important;
}
.modal .modal-content:before {
  content: "";
  position: absolute;
  top: -110px;
  right: 18px;
  width: 140px;
  height: 140px;
  background: url(../images/others/asbo.png) no-repeat center;
  background-size: contain;
}
.modal .modal-content .modal-header {
  border: none;
  margin: 0;
  padding: 0;
}
.modal .modal-content .modal-header .close {
  opacity: 1;
}
.modal .modal-content .modal-header .row {
  padding: 0;
  margin: 0;
}
.modal .modal-content .modal-body {
  margin: 0;
  padding: 0;
}
.modal .modal-content .modal-body .row {
  margin: 0;
  padding: 0;
}
.modal .modal-content .modal-body .confirm-btn {
  background-color: #5f346b;
  color: #fff;
  border: none;
}
.modal .modal-content .modal-body .confirm-btn:hover, 
.modal .modal-content .modal-body .confirm-btn:focus {
  background-color: #422255;
}
.modal .modal-content .gform_wrapper {
    position:relative;
    display:inline-block;
    width:100%;
    padding:0!important;
    margin:0!important;
}
.modal .modal-content .gform_wrapper .gform_fields {
    padding:0!important;
    margin:0!important;
}
.modal .modal-content .gform_wrapper input {
    padding:5px 12px!important;   
    border-radius:4px!important;
}
.modal .modal-content .gform_footer {
    margin:6px 0px!important;
    padding:0!important;
    text-align:center!important;

}
.modal .modal-content .gform_footer .gform_button {
    background-color: #5f346b;
    color: #fff;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 30px !important;
    margin: 15px auto;
    white-space: pre-wrap;
    cursor: pointer;
    border-radius: 7px;
}
.modal .modal-content .gform_footer .gform_button:hover, 
.modal .modal-content .gform_footer .gform_button:focus {
  background-color: #422255;
}















