@media screen and (max-width: 1199px) {
	#nav li a,#nav li .dropdown li a {	font-size: 14px; }
	.offers-wrapper { 
		position: relative;
		margin-bottom: 70px;
	}
	.offers-container,.home-content { width: 100%; }
	.highlights-wrapper .text .flash { right: 0; }
	.sign-up span { font-size: 21px; }
	.booking-widget label span { display: none; }
	.headline h1 {
		font-size: 56px !important;
		line-height: 56px !important;
		max-width: 650px;
	}
	.side-offers-wrapper .flash {
		background-size: 100%;
		width: 220px;
		height: 220px;
		top: -25px;
		left: -10px;
	}
	.side-offers {
		padding: 100px 15px 10px;
	}
	.side-offers .offer h1 {
		font-size: 38px !important;
		line-height: 38px !important
	}
	.side-offers a.btn-violet {	padding: 8px; }
	.left-content .content { max-width: 50%; }
	.offer-block .details h1 {
		font-size: 50px !important;
		line-height: 50px !important;
	}
	.offer-block .details h2 {
		font-size: 26px !important;
		line-height: 26px !important;
	}
	.quote-code span {
		width: 100%;
		margin-bottom: 15px;
		display: block;
	}
	.quote-code  { text-align: center; }
	table.tablepress {
		overflow-x:scroll;
		display:block;
	}
	table.tablepress:before,
	table.tablepress:after {
		content:'Scroll right for more >';
		margin:15px;
		color:#3e2052;
		font-weight:bold;
		text-align:center;
		display:block;
	}
	.call-to-action {
		font-size: 28px;
		line-height: 34px;
	}
	.call-to-action h2 { 
		font-size: 35px !important;
		line-height: 35px !important;
	}
	.call-to-action h1 { 
		font-size: 52px !important;
		line-height: 52px !important;
	}
	.footer h3 { 
		font-size: 21px !important;
		line-height: 26px !important
	}
	.footer-nav { margin-right: 0; }
}
@media screen and (max-width: 991px) {
	#header { 
		padding: 20px 0 0;
		text-align: center;
	}
	.logo a { display: inline-block; }
	.logo a img {
		position: relative;
		margin: 0 auto;
	}
	#header .book {	max-width: 300px; }
	#header .book, #header .call {
		float: none;
		text-align: center;
		display: block;
		margin: 15px auto !important;
	}
    #nav { display: none; }
	.mob-main-nav { display: block; }
	.booking-widget-wrapper {
		position: relative;
		top: 0;
		margin-bottom: 30px;
	}
	.booking-widget,.highlights-wrapper .text p,
	.accom1 .description .btn, .accom2 .description .btn { width: 100%; }
	.offers-wrapper { margin-top: 80px; }
	.highlights-wrapper .text .flash { 
		margin: 0 auto;
		position: relative;
	}
	blockquote,.side-offers { max-width: 100%; }
	.side-offers { padding: 90px 15px 10px; }
	.call-to-action { font-size: 21px; }
	.call-to-action h2 { 
		font-size: 28px !important;
		line-height: 28px !important;
	}
	.call-to-action h1 { 
		font-size: 42px !important;
		line-height: 42px !important;
	}
	body .sign-up .gform_wrapper form .gform_body ul li {
		width: 95% !important;
		display:block !important;
	}
	.footer-nav { width: 32%; }
	.footer h2 {
		font-size: 24px !important;
		line-height: 26px !important;
	}
	.footer h3 {
		font-size: 16px !important;
		line-height: 21px !important;
	}
	.footer-nav li a { font-size: 16px;	}
	.btn.ask {
		font-size: 18px !important;
		line-height: 21px !important;
		padding: 15px 20px;
	}
	#CDSWIDCOE { margin: 0 auto !important; }
}
@media only screen and (max-width: 767px) {	
	.offers-container { padding: 15px 20px; }
	.offers ul.offers-slider li,.call-to-action,.footer { text-align: center; }
	.offers ul.offers-slider a { float: none; }
	.offers ul.offers-slider h2 {
		display: block;
		margin-bottom: 10px !important;
	}
	.bx-wrapper .bx-controls-direction a { top: 30% !important;	}
	.highlights-panel {	margin-top: 0; }
	.holiday-highlights {
		position: relative;
		top: 7px;
	}
	.btn-fb {
		position: relative;
		display: inline-block;
		width: 100%;
		top: -10px;
	}
	blockquote,
	blockquote.review {
		padding: 20px 20px 20px 130px !important;
	}
	blockquote.download { padding:20px !important; }
	blockquote .guest-say,.accommodation .price { left: -10px; }
	.offer-block .flash { left: -30px; }
	.award-medals li img { margin: 0; }
	.accom1 img,.accom2 img,.accommodation img,.offer-block img { margin-bottom: 20px; }
	.sign-up { margin-top: 20px; }
	body .sign-up .gform_wrapper form .gform_body ul li {
		width: 97% !important;
	}
	.footer-nav { width: 100%; margin-bottom: 20px; }
	.btn.ask { float: none;}
	.TA_certificateOfExcellence { 
		float: none !important;
	}
}
@media only screen and (max-width: 600px) {
	.highlights-wrapper { padding: 30px; }
	.booking-widget .left,.booking-widget .right { 
		width: 100%;
		clear: both;
	}
	a.btn-violet { 
		width: 100%;
		display: block;
	}
	blockquote,
	blockquote.review	{
		padding: 100px 20px 20px !important;
		text-align:center;
	}
	blockquote .guest-say, .accommodation .price,.offer-block .flash {
		top: -40px;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.headline {
		top: 30px;
	}
	.headline h1 {
		font-size: 42px !important;
		line-height: 42px !important;
		max-width: 100%;
		width: 100%;
	}
	.side-offers-wrapper .flash {
		top: -30px;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.left-content .content {
		max-width: 100%;
		float: none;
	}
	img.alignleft, img.alignright,
	img.alignnone, img.aligncenter {
		width:100%;
		height:auto;
	}
	.img-right {
		width: 100%;
		max-width: 100%;
		float: none;
		margin: 20px 0;
	}
}
@media only screen and (max-width: 460px) {
	.holiday-highlights { display: none; }
}
@media only screen and (max-width: 414px) {	
	.bx-wrapper .bx-controls-direction a { top: 40% !important;	}
	.highlights-wrapper { padding: 20px; }
	.accom1 .description .btn, .accom2 .description .btn {
		font-size: 14px;
		padding: 5px 2px !important;
	}
}
@media only screen and (max-width: 360px) {
    .btn-fb {
    	font-size: 16px;
    	line-height: 34px;
    }
	.headline {
		top: 20px;
	}
	.headline h1 {
		font-size: 32px !important;
		line-height: 32px !important;
	}
}