/*
Theme Name: Kenegie Manor 2021
Theme URI: https://www.pitched.co.uk
Author: Pitched Applications Ltd
Author URI: https://www.pitched.co.uk
Version: 1.0.14
Bitbucket Theme URI: https://pitchedmattfletcher@bitbucket.org/pitcheddev/wp-kenegie-manor
*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 5px 4px 5px;
}
hr {
    border:1px solid #8a4e8c;
    clear:both;
}
div.ui-datepicker{
 font-size:12px;
}
/* Start Website Styles */
.cta .sign-up {
    margin-top: 20px;   
}
.cta .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    margin: 10px 0 !important;   
}
.cta .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    line-height: 1.5 !important;   
}
.cta .gform_wrapper{
	margin: 0px 0 16px !important;
}
.cta .gform_wrapper ul li.gfield{
	margin-top: 0px !important;
}
.cta .gform_wrapper ul li.gfield input{
	font-size: 18px !important;
    /*padding: 0px 10px !important;*/
}
.cta .gform_wrapper ul li.gfield .ginput_container{
	margin: 0px 0 0 !important;
}
.cta .gform_wrapper .gform_footer{
	padding: 0px !important;
}
.cta .gform_wrapper .gform_footer input{
	display: block !important;
	margin: 0 auto !important;
	font-size: 24px !important;
}

.sign-up .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 10px 5px !important;    
}

.content-wrapper .gform_wrapper input[type='submit'] {
      font-size: 24px !important;
      line-height: 26px !important;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      background: #422255;
      background: -webkit-linear-gradient(legacy-direction(#8a4e8c), #422255);
      background: linear-gradient(#8a4e8c, #422255);
      padding: 10px 50px;
      margin: 10px auto;
      border: #fff 2px solid;
      border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      display: inline-block;
      clear: both;
      cursor: pointer; }
.content-wrapper .gform_wrapper input[type='submit']:hover {
	background: #8a4e8c;
	background: -webkit-linear-gradient(legacy-direction(#422255), #8a4e8c);
    background: linear-gradient(#422255, #8a4e8c); 
}

.content-wrapper .content-text img{
    border: #fbc132 5px solid;
}

.navi ul{
	list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.navi ul li{
	list-style: none;
    display: inline;
    padding: 5px 10px;
}

.tariff .card-body{
	overflow-x: scroll;
}
.cross-sales .accom-wrapper .accom .content h3{
	padding-right: 40px;
}
.offers-page-wrapper .offer .btn {
    margin: 8px auto 15px;
}

.intro h1 {
    font-size: 19px;
    color: #8a4e8c;
    margin-bottom: 20px;
    display: block;
}

.navi{
	margin-top: 30px;
    font-size: 20px;
}

.navi li a{
    color: #8a4e8c;
	font-weight: bold;
}
.booking-widget input[type="text"] {
  color: #274358;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 12px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: block;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor:pointer;
}


@media only screen and (min-width: 480px){
	.accommodation-listing .accom-wrapper .accom .price-flash span{
		font-size: 28px;
	}
	.cross-sales .accom-wrapper .accom .price-flash span {
		font-size: 28px;
	}	
}

@media only screen and (min-width: 768px){
	
	.content-wrapper blockquote{
		/*padding: 20px 20px 20px 20px !important;*/
	}		
}
@media only screen and (min-width: 1200px){
	.accommodation-listing .accom-wrapper .accom .content ul li {
		background-size: 25px 25px;
		font-size: 15px;
		padding: 5px 0 5px 35px;
	}
}
@media only screen and (max-width: 1200px){
	.nav-tabs .nav-item .nav-link i{
		display: block;
	}
}
@media screen and (max-width: 1199px) and (min-width: 991px ){
	.accommodation-listing .accom-wrapper{
		max-height: 308px;
	}
	.accommodation-listing .accom-wrapper .accom .content{
		height: 91%;
	}
	.accommodation-listing .accom-wrapper .accom .content ul li{
		line-height: 16px;
	}
}
@media screen and (max-width: 758px) {
    .gallery {
        margin-left: -10px;
        margin-right: -10px;
    }
    .gallery .gallery-item {
        padding: 0 10px;    
    }
    .gallery .gallery-item img {
        width: 100%;
        height: auto;
    }    
}
@media screen and (max-width: 758px) {
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
        line-height: 1.5 !important;
    }
}

a{
	color: #8a4e8c;
}

.tablepress tbody td {
    border: 1px solid #5f346b !important;
}
.tablepress .odd td {
    background-color: #fdecc0 !important;
}
/*//// HIDES ZOPIM ON LIGHTBOX ////*/
.swipebox-touch .zopim {display:none !important;}
