@import url('jquery-ui.min.css');
@import url('jquery-ui.structure.min.css');
/*
	Pitched - GForms Generic Styles
*/
body .gform_wrapper form .gform_body ul,
body .gform_wrapper form .gform_body ul li {
    list-style-type: none !important;
    list-style-image: none !important;
    list-style: none !important;
    background-image: none !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    width:98% !important;
}
body .gform_wrapper form .gform_body ul > li:before {
	content: "";
}
/* Custom CSS */
.gform_wrapper form .gform_body {
    font-size: 14px;
}
.gform_wrapper form .gform_body .ginput_container{
    margin-bottom: 10px;
}
.gform_wrapper form .gform_body ul li .has_street span {
    margin-top: 10px;
}
.gform_wrapper form .gform_body ul li .gfield_label {
    font-weight: bold;
}
.gform_wrapper form .gform_body ul li .ginput_complex:after {
    content: " ";
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.gform_wrapper form .gform_body ul li .ginput_complex span {
    float: left;
    width: 49.5%;
}
.gform_wrapper form .gform_body ul li .ginput_complex span.name_last,
.gform_wrapper form .gform_body ul li .ginput_complex span.ginput_right {
    margin-left: 1%;
}
.gform_wrapper form .gform_body ul li .ginput_complex span.address_line_1,
.gform_wrapper form .gform_body ul li .ginput_complex span.address_line_2 {
    width: 100%;
    display: block;
}
.gform_wrapper form .gform_body ul li input[type="text"],
.gform_wrapper form .gform_body ul li input[type="email"],
.gform_wrapper form .gform_body ul li textarea {
    width: 100%;
    padding: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gform_wrapper form .gform_body ul li input.datepicker {
    width: auto;
}
.gform_wrapper form .gform_body ul li img.ui-datepicker-trigger {
    vertical-align: middle !important;
    margin-left: 2px !important;
}
.gform_wrapper form .gform_body ul li .ginput_complex span input[type="text"],
.gform_wrapper form .gform_body ul li .ginput_complex span input[type="email"],
.gform_wrapper form .gform_body ul li .ginput_complex span select {
    width: 100%;
    padding: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gform_wrapper form .gform_body ul li select,
.gform_wrapper form .gform_body ul li input[type="tel"] {
    width: 100%;
    padding: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gform_wrapper form .gform_body ul li .ginput_complex span label {
    display: block;
}
.gform_wrapper form .gform_body ul li ul.gfield_radio li,
.gform_wrapper form .gform_body ul li ul.gfield_checkbox li{
    margin: 3px 15px 3px 0 !important;
    float: left;
}
.gform_wrapper form .gform_body ul li ul.gfield_radio:after,
.gform_wrapper form .gform_body ul li ul.gfield_checkbox:after{
    content: ' ';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.gform_wrapper form .gform_body ul li ul.gfield_radio li label,
.gform_wrapper form .gform_body ul li ul.gfield_checkbox li label{
    margin-left: 5px;
}
.gform_wrapper form .gform_body ul li h2.gsection_title {
    color: #000;
    border-bottom: #666 1px dotted;
}
.gform_wrapper form .gform_body ul li .gfield_required {
    color: #ff0000;
}
.gform_wrapper form .gform_body ul li .gfield_description {
    font-style: italic;
    margin-top: -10px;
}
/* colour styles */
.gform_wrapper form .gform_body ul li input[type="text"],
.gform_wrapper form .gform_body ul li input[type="email"],
.gform_wrapper form .gform_body ul li input[type="tel"],
.gform_wrapper form .gform_body ul li textarea,
.gform_wrapper form .gform_body ul li select {
    border: 1px #1567b3 solid;
}
.gform_wrapper form .gform_footer input[type="submit"] {
    background: #1567b3;
    color: #fff;
    padding: 5px 15px;
    border: 1px #1567b3 solid;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    
}
.gform_wrapper form .gform_footer input[type="submit"]:hover {
    background: #fff; 
    border: 1px #1567b3 solid;
    color: #1567b3;
}
.validation_error,
.gform_wrapper form .gform_body ul li .validation_message {
    background: #ffeded;
    padding: 6px 10px;
	margin-bottom:20px;
	border:1px solid #ff9999;
	color:#ba0000;
	position:relative;
	height:1%;
	font-family: Arial;
	font-size: 11px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	display: block;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {
    
}
@media only screen and (min-width:480px) {
    
}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {
    
}
@media only screen and (min-width:1140px) {
    
}
@media only screen and (min-width:1280px) {

}

@media only screen and (max-width:320px) {
    
}
@media only screen and (max-width:480px) {
    .gform_wrapper form .gform_body ul li .ginput_complex span {
        width: 100%;
    }
    .gform_wrapper form .gform_body ul li .ginput_complex span.name_last,
    .gform_wrapper form .gform_body ul li .ginput_complex span.ginput_right {
        margin-left: 0;
        margin-top: 10px;
    }
}
@media only screen and (max-width:768px) {
    
}
@media only screen and (max-width:1024px) {
    
}
@media only screen and (max-width:1140px) {
    
}
@media only screen and (max-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}